@model GrislyGrotto.ViewModels.Shared.PostViewModel

<div class="listPost">
    <h3>
        @Html.ActionLink(Model.Title, "Specific", "Posts", new { Id = Model.ID }, null)
    </h3>
                
    <span class="postDetails">@Model.Author.DisplayName</span>
    <span> - </span>
    <span class="postDetails">@Model.Created.ToString("dddd, dd MMMM yyyy h:mm:ss tt")</span>
    <br />
    @Html.ActionLink("Comments (" + Model.Comments.Count + ")",
        "Specific", "Posts", null, null, "Comments", new { Id = Model.ID }, new { @class = "postDetails" })

    @if(Model.Tags.Count > 0)
    {
        <span class="postDetails">Tagged as:</span>
        foreach(var tag in Model.Tags)
        {
            <span class="postDetails">
                @Html.ActionLink(tag.DisplayText, "Tag", "Home", new { Id = tag.Text }, null);
            </span>
        }
    }
    
    <div class="content">@Html.Raw(Model.Content)</div>
</div>