@model IEnumerable<GrislyGrotto.Models.Post>

@{
	ViewBag.Title = "Latest";
}

@foreach (var post in Model)
{
    <article>
        <div class="row">
            <div class="one column">
                <img class="author" src="@Users.UserImageUrl(post.Author)" alt="@post.Author" />
            </div>
            <div class="eleven columns">
                <h2>
                    <a href="/p/@post.Key">@post.Title</a>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="u-full-width">
                @Html.Raw(post.Content)
            </div>
            <p class="post-footer">
                Posted by @post.Author at <span>@post.Date.Add(PostService.NzTimeZone).ToString("h:mm tt, dddd dd MMMM, yyyy")</span>. <a href="/p/@post.Key#comments">Comments (@(post.CommentCount.HasValue ? post.CommentCount.Value : 0))</a>
            </p>
        </div>
    </article>
}

<nav class="row">
	@if(ViewBag.Page > 1)
	{
		<div class="u-pull-left">
            <a href="/?pageNum=@(ViewBag.Page - 1)" class="button">< Newer</a>
		</div>
	}
	<div class="u-pull-right">
		<a href="/?pageNum=@(ViewBag.Page + 1)" class="button">Older ></a>
	</div>
    <div class="u-cf" />
</nav>