@model LatestViewModel

@{
    var isMonth = Model.Month.HasValue;
    ViewBag.Title = isMonth ? Model.Month.Value.ToString("MMMM yyyy") : "Latest";
}

@if(isMonth)
{
<h1 class="month-title">@ViewBag.Title</h1>
@Html.Partial("_MonthNav", Model);
}
else
{
<div style="text-align: center">
    <h4 id="wrimo-header" style="display: none">NaNoWriMo 2017</h4>
    <div style="width: 400px; text-align: center; float: left;">
        <a></a>
        <canvas id="myChart" data-wrimo="scribeaquinas"></canvas>
        <span style="font-weight:bold"></span>
    </div>
    <div style="width: 400px; text-align: center; float: left;">
        <a></a>
        <canvas id="myChart" data-wrimo="pdcnz"></canvas>
        <span style="font-weight:bold"></span>
    </div>
    <div style="clear:both"></div>
</div>
}

@foreach(var post in Model.Posts)
{
<div>
    <h2 class="post-title">
        <img src="@post.Author.ImageUrl" class="author-image" />
        <a asp-action="Single" asp-route-key="@post.Key">@post.Title</a>
    </h2>
    <div class="post-info">
        @($"Posted by {post.Author.DisplayName} at {post.DateFormatted}.".ToLower())
        <a asp-action="Single" asp-route-key="@post.Key" asp-fragment="comments">comments (@post.Comments.Count)</a>
    </div>
    <div class="post-content">
        @Html.Raw(post.Content)
    </div>
</div>
}

@if(isMonth)
{
@Html.Partial("_MonthNav", Model);
}
else
{
<nav class="page-nav">
    @if (Model.Page > 1)
    {
    <div class="page-prev">
        <a class="button" asp-action="Latest" asp-route-pageNum="@(Model.Page - 1)">◄ Newer</a>
    </div>
    }
    <div class="page-next">
        <a class="button" asp-action="Latest" asp-route-pageNum="@(Model.Page + 1)">Older ►</a>
    </div>
</nav>
<div class="clear"></div>
}

@section scripts {
    <script type="text/javascript" src="~/Chart.min.js"></script>
    <script type="text/javascript" src="~/wrimo.js"></script>
}