@model SearchViewModel

@{
    ViewBag.Title = "Search";
    if(!string.IsNullOrWhiteSpace(Model.SearchTerm))
    {
        ViewBag.Title += " - " + Model.SearchTerm;
    }
}

<form method="GET">
    <div class="search-form" id="search-form">
        <p>
            <label for="searchTerm">Search Term</label>
            <input type="text" id="searchTerm" name="searchTerm"/>
        </p>
        <button type="submit" id="search-go">Search</button>
        <p>Warning: Searches can take a long time to run (sometimes ~30 seconds or longer)</p>
    </div>
</form>

<h2 class="search-progress" id="search-progress">Searching...</h2>

@if(Model.Results != null)
{
    <h2 class="results-header">Results</h2>
    <ul class="results-list">
        @foreach (var result in Model.Results)
        {
        <li>
            <article>
                <h2 class="post-title">
                    <a asp-action="Single" asp-route-key="@result.Key">@result.Title</a>
                </h2>
                <div>
                    @Html.Raw(result.Content)
                </div>
                <div class="post-info">
                    Posted by @result.Author.DisplayName on <span>@result.DateFormatted</span>.
                </div>
            </article>
        </li>
        }
    </ul>
}

@section scripts {
<script type="text/javascript">
    function el(id) { return document.getElementById(id); }
    el('search-go').onclick = function() {
        el('search-form').style.display = 'none';
        el('search-progress').style.display = 'block';
    };
</script>
}