<!DOCTYPE html>
@using System.Web.Optimization
@using GrislyGrotto.ViewModels.Home
@{
    var defaultSearchTerm = string.Empty;
    if (Model is SearchViewModel)
    {
        defaultSearchTerm = ((SearchViewModel)Model).SearchTerm;
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grisly Grotto - @ViewBag.Title</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="@Url.Action("Rss", "Home")" />
    <link rel="shortcut icon" href="@Url.Content("/content/favicon.png")" />
    @Styles.Render("~/content/styles")
    <!--[if lt IE 9]>
    <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
    </script>
    <![endif]-->
    @Scripts.Render("~/scripts/vendor")
    @Scripts.Render("~/app/layout.js")
</head>
    <body>
        <section class="bodywrap">
            <header>
                <a href="/">
                    <h1>Grisly Grotto</h1>
                </a>
                <span>Who We Are Is But A Stepping Stone To What We Can Become</span>
            </header>
    
            <section class="js_quote quote">
                <div data-bind="text: Text"></div>
                <span data-bind="text: Author"></span>
            </section>

            <section class="navigation">
                <section class="authActions">
                    @Html.Partial("_AuthSection")
                </section>
    
                <section class="search">
                    <input type="text" class="js_searchTerm" value="@defaultSearchTerm" />
                    <button class="js_runSearch">Search</button>
                </section>

                <section class="js_stories" style="display: none">
                    <button data-bind="click: loadStories, visible: showInitiator" class="loadArchive">Stories</button>
                    <div data-bind="visible: showLoading" class="loading"></div>
                    <h2 data-bind="visible: showHeading">Stories</h2>
                    <a href="#" data-bind="visible: showHeading, click: hideStories" class="hideLink">Hide</a>
                    <ul data-bind="foreach: stories" class="archiveList">
                        <li class="archiveItem">
                            <a data-bind="attr: { href: '/posts/specific/' + ID }">
                                <span class="storyTitle" data-bind="text: Title"></span>
                                <span data-bind="text: Author + ', ' + WordCount + ' words'"></span>
                            </a>
                        </li>
                    </ul>
                </section>

                <section class="js_tagCounts" style="display: none">
                    <button data-bind="click: loadTagCounts, visible: showInitiator" class="loadArchive">Tags</button>
                    <div data-bind="visible: showLoading" class="loading"></div>
                    <h2 data-bind="visible: showHeading">Tags</h2>
                    <a href="#" data-bind="visible: showHeading, click: hideTagCounts" class="hideLink">Hide</a>
                    <ul data-bind="foreach: tagCounts" class="archiveList">
                        <li class="archiveItem">
                            <a data-bind="attr: { href: '/home/tag/' + TagName }, text: DisplayTagName + ' (' + Count + ')'"></a>
                        </li>
                    </ul>
                </section>
    
                <section class="js_monthCounts" style="display: none">
                    <button data-bind="click: loadMonthCounts, visible: showInitiator" class="loadArchive">Archive</button>
                    <div data-bind="visible: showLoading" class="loading"></div>
                    <h2 data-bind="visible: showHeading">Archive</h2>
                    <a href="#" data-bind="visible: showHeading, click: hideMonthCounts" class="hideLink">Hide</a>
                    <ul data-bind="foreach: monthCounts" class="archiveList">
                        <li class="archiveItem">
                            <a data-bind="attr: { href: '/home/month/' + Month + '/' + Year }, text: Month + ', ' + Year + ' (' + Count + ')'"></a>
                        </li>
                    </ul>
                </section>
            </section>

            <section class="mainContent">
                @RenderBody()
            </section>
    
            <div style="clear: both"></div>
            <a name="moreloaded"></a>
            <footer>
                Grisly Grotto v11.3. Site designed and coded by Christopher Pritchard, 2013
            </footer>
        </section>
    </body>
</html>
