@model GrislyGrotto.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pageHeading">Login</h2>

@Html.ValidationSummary()

<section class="loginForm">
    <p>Please enter your login credentials, below.</p>

    @using(Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.Username, "Username:")
            <br />
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username, "*", new { @class = "warning" })
        </p>

        <p>
            @Html.LabelFor(m => m.Password, "Password:")
            <br />
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, "*", new { @class = "warning" })
        </p>

        <input type="submit" value="Submit" />
    }
</section>