@model IEnumerable<GrislyGrotto.App.Data.Post>

@{
    DateTime? month = null;
    var monthName = ViewContext.RouteData.Values["month"];
    if (monthName != null)
    {
        var year = ViewContext.RouteData.Values["year"];
        month = DateTime.Parse("1/" + monthName + "/" + year);
    }
    ViewBag.Title = month?.ToString("MMMM yyyy") ?? "Latest";
}

@if (month.HasValue)
{
    <h1>@ViewBag.Title</h1>
    <nav class="row">
        @{
            var previous = month.Value.AddMonths(-1);
            if (previous >= new DateTime(2006, 6, 1))
            {
                <div class="u-pull-left">
                    <a href="/m/@(previous.ToString("MMMM/yyyy"))" class="button">< @previous.ToString("MMMM yyyy")</a>
                </div>
            }
            var next = month.Value.AddMonths(1);
            if (next < DateTime.Now)
            {
                <div class="u-pull-right">
                    <a href="/m/@(next.ToString("MMMM/yyyy"))" class="button">@next.ToString("MMMM yyyy") ></a>
                </div>
            }
        }
        <div class="u-cf"></div>
    </nav>
}

@foreach (var post in Model)
{
    <article>
        <div class="row">
            <div class="one column">
                <img class="author" src="@post.Author.ImageUrl" alt="@post.Author.DisplayName" />
            </div>
            <div class="eleven columns">
                <h2>
                    <a href="/p/@post.Key">@post.Title</a>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="u-full-width">
                @Html.Raw(post.Content)
            </div>
            <p class="post-footer">
                Posted by @post.Author.DisplayName at <span>@post.DateFormatted</span>. <a href="/p/@post.Key#comments">Comments (@post.Comments.Count)</a>
            </p>
        </div>
    </article>
}

<nav class="row">
    @if (month.HasValue)
    {
        var previous = month.Value.AddMonths(-1);
        if (previous >= new DateTime(2006, 6, 1))
        {
            <div class="u-pull-left">
                <a href="/m/@(previous.ToString("MMMM/yyyy"))" class="button">< @previous.ToString("MMMM yyyy")</a>
            </div>
        }
        var next = month.Value.AddMonths(1);
        if (next < DateTime.Now)
        {
            <div class="u-pull-right">
                <a href="/m/@(next.ToString("MMMM/yyyy"))" class="button">@next.ToString("MMMM yyyy") ></a>
            </div>
        }
    }
    else
    {
        if (ViewBag.Page > 1)
        {
            <div class="u-pull-left">
                <a href="/page/@(ViewBag.Page - 1)" class="button">< Newer</a>
            </div>
        }
        <div class="u-pull-right">
            <a href="/page/@(ViewBag.Page + 1)" class="button">Older ></a>
        </div>
    }
    <div class="u-cf"></div>
</nav>