@model IEnumerable<GrislyGrotto.App.Data.Post>

@{
    var searchTerm = (string)ViewContext.RouteData.Values["searchTerm"];
    ViewBag.Title = "Search";
    if(!string.IsNullOrWhiteSpace(searchTerm))
    {
        ViewBag.Title += " - " + searchTerm;
    }
}

@using (Html.BeginForm("Search", "Open", FormMethod.Get))
{
    <div class="row centred form">
        <p>
            <label for="searchTerm">Search Term</label>
            <input type="text" id="searchTerm" name="searchTerm"/>
        </p>

        <input type="submit" value="Search" />

        <p>Warning: Searches can take a long time to run (sometimes ~30 seconds or longer)</p>
    </div>
}

@if (Model != null)
{
    foreach (var post in Model)
    {
        <article>
            <div class="row">
                <h2>
                    <a href="/p/@post.Key">@post.Title</a>
                </h2>
            </div>

            <div class="row">
                <div class="u-full-width">
                    @Html.Raw(post.Content)
                </div>
                <p class="post-footer">
                    Posted by @post.Author.DisplayName at <span>@post.DateFormatted</span>. <a href="/p/@post.Key#comments">Comments (@post.Comments.Count)</a>
                </p>
            </div>
        </article>
    }
}