@model GrislyGrotto.App.Data.Post

@{
    ViewBag.Title = Model.Title;
}

<article>
    <nav class="row">
        <br />
        <div class="u-pull-left">
            <a href="/previous/@Model.Key" class="button">< Previous</a>
        </div>
        <div class="u-pull-right">
            <a href="/next/@Model.Key" class="button">Next ></a>
        </div>
        <div class="u-cf"></div>
    </nav>
    
    <div class="row view-header">
        <h2>@Model.Title</h2>
        @Model.Author.DisplayName, @Model.DateFormatted
    </div>

    <div class="row">
        <div class="u-full-width">
            @Html.Raw(Model.Content)
        </div>
    </div>

    @if (Model.Author.Username == Request.GetOwinContext().Authentication.User.Identity.Name)
    {
        <div class="edit-button">
            @Html.ActionLink("Edit", "Edit", "Secure", new { Model.Key }, new { @class = "button" })
        </div>
    }

    <nav class="row">
        <br />
        <div class="u-pull-left">
            <a href="/previous/@Model.Key" class="button">< Previous</a>
        </div>
        <div class="u-pull-right">
            <a href="/next/@Model.Key" class="button">Next ></a>
        </div>
        <div class="u-cf"></div>
    </nav>

    <a name="comments"></a>
    <h3>Comments</h3>

    <div>
        @if (Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                <p>
                    <b>@comment.Author, @comment.DateFormatted</b>
                    <br />
                    @Html.Raw(comment.Content)
                </p>
            }
        }
    </div>

    <a name="commentsend"></a>

    <div>
        @using (Html.BeginForm())
        {
            <div>
                <div>
                    @Html.Label("Author")
                    @Html.TextBox("Author", "")
                    @Html.ValidationMessage("Author")

                    @Html.Label("Content")
                    @Html.TextArea("Content", "", new {cols = 50})
                    @Html.ValidationMessage("Content")
                </div>
                <input type="submit" value="Add Comment" class="button-primary" />
            </div>
        }
    </div>

</article>